build/
*.ipr
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
neoforge/run/*
fabric/run/*

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

run/
!run/palladium/

.architectury-transformer/*
common/.architectury-transformer/*
neoforge/.architectury-transformer/*
fabric/.architectury-transformer/*
